
/* VERSIONE MOBILE */

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}


body nav {
    order: 2;
    margin: auto;
}

a {
    margin: auto;
}
.menuhome {
    font-size: 3rem;
    font-weight: 700;
    list-style: none;
    padding: 0rem;
    margin-bottom: 4.5rem;
    gap: 7rem;
    display: flex;
    flex-direction: column;

}



.immagine {
    border-radius: 3rem;
    overflow: hidden;
    max-width: 100rem;
    margin: auto;
}





/* VERSIONE DEKSTOP */
@media (min-width:1024px) {

    a {
        margin: 0;
    }

    h1 {
        position: fixed;
        top: 3rem;
        left: 3rem;
    }

    .home {
        justify-content: center;
        align-items: center;
    }

    nav {
        position: absolute;
    }

    li {
        transition: all 300ms;
    }


    li:first-child {
        position: fixed;
        top: 3rem;
        right: 3rem;
    }

    li:first-child:hover {
        transform: rotate(-30deg);
    }

    li:nth-child(2) {
        position: fixed;
        bottom: 3rem;
        left: 3rem;
    }

    li:nth-child(2):hover {
        transform: rotate(-30deg);
    }


    li:nth-child(3) {
        position: fixed;
        bottom: 3rem;
        right: 3rem;
    }
    
    li:nth-child(3):hover {
        transform: rotate(30deg);
    }
    
}




/* Temi che cambiano */
.bodyLight {
    background-color: white;
}

.bodyDark {
    background-color: black;
    .oggetto {
        font-weight: 700;
    }
}


/* Pulsante per cambiare stile */

#dentro:hover {
    fill: transparent;
    cursor: pointer;

}
